
/*.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    width: 560px;
    height: 560px;
    border: 3px solid black;
    }

    .grid > div {
    width: 30px;
    height: 30px;
    border: 1px solid gray;
    }  */

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 40px;
        flex-direction: column;
    }

    .title {
        display: flex;
        justify-content: center;
        margin: 25px;
    }

    .buttons {
        display: flex;
        margin: 10px;
        gap: 16px;
    }


    .grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: 3px solid black;
    }

    .row {
    width: 33px;
    height: 33px;
    border: 1px solid gray;
    }  

    .coloured {
        background-color: blue;
    }